<div class="div_text_centered">
<h2>Connexion</h2>
<%= form_tag url_for(action: 'create'), method: "post" do %>

  <h4><%= label_tag 'Email' %></h4>
  <%= text_field_tag 'email'%>
  <br /> <br />


  <h4><%= label_tag 'Mot de passe' %></h4>
  <%= password_field_tag 'password'%>
  <br /> <br />

  <%= submit_tag "Je me connecte", {class: "btn btn-primary"} %>
  <br><br>
<% end %>

</div>